{% extends "base.html" %}

{% block content %}

<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Los Sabores de México<br>Comida Méxicana</h2>
                <p data-aos="fade-up" data-aos-delay="100">Sabor, tradición y pasión en cada platillo.</p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="static/img/stats-bg.jpg" class="img-fluid rounded" width="800px" height="500px" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>

{% endblock %}