{% extends "base.html" %}

{% block content %}

<br><br>

<section id="about" class="about">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Acerca de nosotros</h2>
            <p><span>Acerca de nosotros</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(static/img/about.jpg) ;"
                data-aos="fade-up" data-aos-delay="150">

            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Bienvenidos a "Los Sabores de México", somos una empresa 100% mexicana dedicada a la elaboración
                        de
                        platillos típicos de nuestra rica cultura culinaria.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Llevar a tu mesa la auténtica sazón de México.</li>
                        <li><i class="bi bi-check2-all"></i> Comprometidos con la conservación de nuestra cultura
                            gastronómica.
                        </li>
                        <li><i class="bi bi-check2-all"></i> Ofrecer un servicio excepcional y un ambiente cálido y
                            acogedor,
                            para que cada experiencia con nosotros sea inolvidable.</li>
                    </ul>
                    <p>
                        ¡Gracias por elegir "Los Sabores de México" como tu destino para disfrutar de los mejores
                        platillos
                        mexicanos!
                    </p>

                    <div class="position-relative mt-4">
                        <img src="static/img/about-2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>¿Qué es Los Sabores de México?</h3>
            <p>
              Una empresa que se enfoca en ofrecer platillos auténticos y tradicionales de la cocina mexicana a sus
              clientes. Utilizando ingredientes frescos y de alta calidad para preparar sus platillos, siguiendo las
              recetas tradicionales que han sido transmitidas de generación en generación.
            </p>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Misión</h4>
                <p>Proporcionar a nuestros clientes una experiencia gastronómica única que les permita disfrutar de los sabores y aromas de México.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Visi&oacute;n</h4>
                <p>Ser la empresa líder en la elaboración de platillos mexicanos en todo el mundo, ofreciendo siempre un servicio excepcional y una calidad gastronómica inigualable.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Valores</h4>
                <p>Autenticidad, Calidad, Innovaci&oacute;n, Excelencia y Compromiso social</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->


{% endblock %}